{% extends "BalloonFormBuilderBundle::layout.html.twig" %}

{% block content %}
    <h2>Edit form</h2>
    <hr/>

    <form method="POST" class="form-stacked well">
        <fieldset>
            <legend>Form settings</legend>
            {{ form_widget(form) }}
        </fieldset>
        <input type="submit" class="btn primary" value="save" />
    </form>

    <div class="alert-message block-message info">
        <h5>Add a field:
        {% for type in form_types() %}
            <a class="btn" href="{{ path('form_field_create', {"type": type, "formid": formid}) }}">{{ type }}</a>
        {% endfor %}
    </div>

    {% form_theme fields _self %}
    <form class="form-stacked well">
        <fieldset>
            <legend>Form preview</legend>
            {{ form_widget(fields, {"formid": formid}) }}
        </fieldset>
    </form>

    {% block field_rows %}{% spaceless %}
        {{ form_errors(form) }}
        {% for child in form %}
            {{ form_row(child, {"formid": formid}) }}
        {% endfor %}
    {% endspaceless %}{% endblock field_rows %}

    {% block field_row %}{% spaceless %}
        {% if form.get("label") != "Form"  %}
        <div class="form-row alert-message block-message warning">
            {{ form_label(form, label|default(null)) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <br/><br/>
            <a href="{{ path('form_field_edit', {"formid": formid, "index": form.get('name')}) }}">{{ "edit" | trans }}</a> |
            <a href="{{ path('form_field_delete', {"formid": formid, "index": form.get('name')}) }}">{{ "delete" | trans }}</a>
        </div>
        {% endif %}
    {% endspaceless %}{% endblock field_row %}
{% endblock %}
